
*{
    margin: 0px;
} 

section{
    margin-top: 200px ;
}
.header {
    width: 1350px;
    height: 800px;
    display: flex;
    background-color: #E554731A;
    padding: 100px 200px 0px 200px;
}

.header-title {
    color: #272727;
font-family: Lato;
font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-top: 10px;
}


.btn-primary {
background: #E55473;
color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 20px;
border-radius: 5px;
padding: 10px 20px;
}  

/* main starts */
/* our featured starts */
.our-featured-flower{
  
    text-align: center;
    align-items: center;
    margin-left: 450px;
    margin-right: 400px;
    width: 730px;
    height: 300px;
    
}
.featured-flower-title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.featured-flower-description {
color: #272727;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-top: 20px;

}

/* flower tree section starts */
.flower-tree-section {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-around;
}

.flower-tree-1 {
    width: 420px;
height: 430px;
flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
padding-top: 200px;
padding-left: 50px;
    
}
.flower-tree-2 {
    width: 420px;
    height: 430px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    padding-top: 200px;
    padding-left: 50px;
   
} 

.flower-tree-3 {
    width: 420px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    padding-top: 130px;
    padding-left: 50px;
}
.flower-tree-title-1 {
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
margin-top: 50px;
}
.flower-tree-title-2 {
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
margin-top: 110px;
} 

.flower-tree-title-3 {
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
margin-top: 80px;
}

/* rectangular section starts */

.rectangular-section {
    width: 1500px;
height: 320px;
background-color: #2727270D;
margin-left: 100px;
margin-right: 100px;
display: flex;
justify-content: space-around;
padding: 200px 50px 50px 50px;
}

.rectangular-section-description {
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 35px; 

}

/* contact section starts */

.section-contact {
    width: 1200px;
    height: auto;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    
color: teal;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
    
}


    label{
        display: block;
        margin-bottom: 18px;
    }

.contact-title {
    color: #272727;
    font-family: Lato;
    font-size: 70px;
    font-style: normal;
    text-align: center;
    font-weight: 800;
    line-height: normal;
}  


/* Hot deal section */
.hot-deal {
    width: 1350px;
    height: 500px;
    display: flex;
    background-color: #E554731A;
    padding: 200px 200px 0px 200px;
}

.hot-deal-title {
    color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-top: 10px;
}



